@import './colors.scss';

$menu-item-hover-background-color: $app-blue-light;
@import "bulma/sass/components/menu.sass";

.menu-bars {
    // margin-left: 1rem;
    // margin-right: 1rem;
    // font-size: 2rem;
    text-align: center;
    // background: none;
}

.menu {
    position: fixed;
    left: 0;
    transition: 350ms;
}

.menu.active {
    left: 0;
    transition: 350ms;
}

span {
    margin-left: 16px;
}
.menu-page{
.choosed{
//     background-color: #00d1b2 !important;
// color: #fff !important;
background: #485fc7 !important;
// color: #3ca6ff !important;
}

.menu-list a {
    color: #fff !important;
}
}