@import './colors.scss';

$menu-item-hover-background-color: $app-blue-light;
@import "bulma/sass/components/menu.sass";

.menu-bars {
    // margin-left: 1rem;
    // margin-right: 1rem;
    // font-size: 2rem;
    text-align: center;
    // background: none;
}

.menu {
    position: fixed;
    left: 0;
    transition: 350ms;
}

.menu.active {
    left: 0;
    transition: 350ms;
}

.menu-page {
    .choosed {
        background: #607eaa !important;
    }

    .menu-list button {
        color: #fff !important;
    }
}

.menubar-span {
    margin-left: 16px;
}

.menubar-button {
    margin: 10px;
    background: none;
    color: inherit;
    border: none;
    outline: inherit;
    cursor: pointer;
}