@charset "utf-8";
@import './colors.scss';

body {
    background-color: $app-beige-light;
}

// Update Bulma's global variables
$primary: $app-blue;
$link: $app-beige;

// Import only what you need from Bulma
@import "bulma/bulma.sass";
@import "@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";